
.contentRoot {
    width: 100%;
    height: 100%;
  
  }
  
  .map {
    width: 100%;
    //height: 100vh;
    height: calc(100vh - 90px);
  }
  
.ol-zoom {
    bottom: 40px;
    top: unset;
    left: unset;
    right: 8px;
  }


  #map-switch-satellite {
    background-size: cover;
    background-image: url('../../../assets/images/basemap/imagery.png');
  }
  
  #map-switch-basic {
    background-size: cover;
    background-image: url('../../../assets/images/basemap/road.png');
  }
  
  #map-switch-topography {
    background-size: cover;
    background-image: url('../../../assets/images/basemap/typography.png');
  }
  
  #map-switch-default {
    background-size: cover;
    background-image: url('../../../assets/images/basemap/plain.png');
  }


/* FloatingButton.css */

.floating-button {
  position: absolute;
  display: inline-flex;
  bottom: 10px;
  left: 100px;
  width: 270px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  z-index: 10000;
}

.layer-select {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  height: 55px;
  width: 55px;
}
.basemap-select {
  display: none;
}

.basemap-select:hover {
  display: block;
}
/* Show the filter-box when the overlay-select element is hovered */
.layer-select:hover + .basemap-select {
  display: block;
}

.button-container {
  text-align: center; /* Center the content horizontally */
}

.button-container .image {
  position: relative;

  background-color: white;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
  z-index: 1000;
  height: 55px;
  width: 55px;
  cursor: pointer;
}

.button-container .image.active {
  border: 2px solid #1a73e8;
}

.active {
  color: #1a73e8; /* Change this to your desired text color */
  /* Add any other styles you want for the active element */
}

.label {
  text-align: justify; /* Center the label text */
  font-size: 12px; /* Adjust the font size as needed */
  margin-top: 5px; /* Add some spacing between the div and the label */
}

.table-card {
  width: 100%;
  border-collapse: collapse;

  td {
    vertical-align: top;
    /* Add any other styles you need for your table cells */
  }
}

.detail-box {
  position: absolute; /* Position it absolutely on the map */
  top: 20px; /* Adjust the top distance as needed */
  right: 10px; /* Adjust the left distance as needed */
  z-index: 100; /* Ensure it's above other map elements */
}

.filter-box {
  background-color: white; /* Semi-transparent white background */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  position: absolute; /* Position it absolutely on the map */
  top: 160px; /* Adjust the top distance as needed */
  left: 20px; /* Adjust the left distance as needed */
  z-index: 1000; /* Ensure it's above other map elements */
}

.filter-content {
  background-color: white; /* Semi-transparent white background */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  position: absolute; /* Position it absolutely on the map */
  top: 20px; /* Adjust the top distance as needed */
  left: 20px; /* Adjust the left distance as needed */
  width: 300px;
  height: 300px;
  z-index: 1000; /* Ensure it's above other map elements */
  display: none;
}

.filter-content:hover {
  display: block;
}
/* Show the filter-box when the overlay-select element is hovered */
.filter-box:hover + .filter-content {
  display: block;
}


.embed-floating-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 230px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  z-index: 1000;
}

.basemap-option {
  display: inline-flex;
}

.layer-select-embed {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  height: 25px;
  width: 25px;
  transition: left 0.3s;;
}

/* Show the filter-box when the overlay-select element is hovered */
.layer-select-embed:hover + .basemap-select {
  display: block;
}

.button-container-embed {
  text-align: center; /* Center the content horizontally */
}

.button-container-embed .image {
  position: relative;

  background-color: white;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
  z-index: 1000;
  height: 45px;
  width: 45px;
  cursor: pointer;
}

.button-container-embed .image.active {
  border: 2px solid #1a73e8;
}
.opacity-slider {
  padding: 0 10px 0 10px;
}
.overlay-box {
  background-color: white; /* Semi-transparent white background */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  position: absolute; /* Position it absolutely on the map */
  top: 20px; /* Adjust the top distance as needed */
  left: 20px; /* Adjust the left distance as needed */
  z-index: 100000; /* Ensure it's above other map elements */
  display: none;
}

.overlay-box:hover {
  display: block;
}
/* Show the filter-box when the overlay-select element is hovered */
.overlay-select:hover + .overlay-box {
  display: block;
}

.overlay-select {
  background-color: white;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  height: 55px;
  width: 55px;
}

.draw-box-button {
  border: 0.2px solid #000;
  position: absolute;
  top: 20px;
  right: 8px;
  display: block;
  margin: 1px;
  padding: 0;
  color: var(--ol-subtle-foreground-color);
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  height: 2em;
  width: 8em;
  line-height: 0.4em;
  background-color: var(--ol-background-color);
  border: none;
  border-radius: 2px;
}

.draw-box-button .img {
  font-size: 16px;
}
.draw-box-button:hover {
  background-color: #eeeeee;
  border: 0.5px solid #000;
}


.delete-button {
  border: 0.2px solid #000;
  position: absolute;
  bottom: 140px;
  right: 8px;
  display: block;
  margin: 1px;
  padding: 0;
  color: var(--ol-subtle-foreground-color);
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  height: 2em;
  width: 2em;
  line-height: 0.4em;
  background-color: var(--ol-background-color);
  border: none;
  border-radius: 2px;
}

.center-geolocation-button {
  position: absolute;
  bottom: 6rem;
  right: 8px;
  display: block;
  margin: 1px;
  padding: 0;
  color: var(--ol-subtle-foreground-color);
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: 0.4em;
  background-color: var(--ol-background-color);
  border: none;
  border-radius: 2px;
}

.center-geolocation-button .img {
  font-size: 16px;
}
.center-geolocation-button:hover {
  color: #007bff;
  border: 0.5px solid #000;
}


.koordinat-button-embed {
  position: absolute;
  top: 200px;
  left: 20px;
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  height: 25px;
  width: 25px;
  transition: left 0.3s;;
}



.legend-button-embed {
  position: absolute;
  top: 80px;
  left: 20px;
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  height: 25px;
  width: 25px;
  transition: left 0.3s;;
}

/* Show the filter-box when the overlay-select element is hovered */

.legend-box-embed {
  position: absolute;

  bottom: 20px;
  right: 10px;
  width: 220px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
}

.box-koordinat {
  position: absolute;
  top: 20px; /* Adjust the top position to move the box to the top */
  left: 50%; /* Center the box horizontally */
  transform: translateX(-50%); /* Center the box horizontally */
  background-color: white;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 100;
  width: 500px;
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
}

.box-koordinat Button {
  height: 100%; /* Make the button height same as its container (TextField) */
}

.koordinat-button {
  position: absolute;
  top: 200px;
  left: 20px;
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  height: 55px;
  width: 55px;
  text-align: center;
}

.legend-button {
  position: absolute;
  top: 80px;
  left: 20px;
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  height: 55px;
  width: 55px;
  text-align: center;
}

/* Show the filter-box when the overlay-select element is hovered */

.legend-box {
  position: absolute;

  bottom: 20px;
  right: 10px;
  width: 250px;
  height: 350px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  z-index: 100;
}

.layer-select-embed3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  height: 25px;
  width: 25px;
}

/* Show the filter-box when the overlay-select element is hovered */
.layer-select-embed3:hover + .basemap-select3 {
  display: block;
}

.basemap-select3 {
  display: none;
}

.basemap-select3:hover {
  display: block;
}

.coordinate-box-embed {
  position: absolute;
  bottom: 20px;
  left: 80px;
  z-index: 100;
  background-color: rgba(169, 166, 166, 0.645);
  text-align: justify;
  padding: 0 10px 0 10px;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 10px;
}

.filter-button {
  position: absolute;
  top: 140px;
  left: 20px;
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 100;
  height: 55px;
  width: 55px;
}

.filter-button-embed {
  position: absolute;
  top: 140px;
  left: 20px;
  background-color: white;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
  height: 25px;
  width: 25px;
  transition: left 0.3s;;
}

@media (max-width: 420px) {
  .center-geolocation-button {
    top: 6rem;
    height: 2.12em;
    width: 2.12em;
  }
}

   // Media queries for different screen sizes
  @media (min-width: 421px) and (max-width: 768px){
    .center-geolocation-button {
      top: 6rem;
      height: 2.12em;
      width: 2.12em;
    }
  }

@media (min-width: 769px) and (max-width: 1024px) {
  .center-geolocation-button {
    top: 6rem;
    height: 2.12em;
    width: 2.12em;
  }
  }





.swal2-popup {
  font-size: 0.8rem !important;
  font-family: Roboto;
}
