.deforestasi-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.main-content-deforestasi {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media (max-width: 991px) {
  .main-content-deforestasi {
    padding: 0;
  }
}

@media (max-width: 640px) {
  .main-content-deforestasi {
    padding: 0;
  }
}
